html,
body {
  margin: 0;
  padding: 0;
}

.h1-class {
  font-size: 2rem;
  color: grey;
  margin-left: 10px;
  margin-right: 30px;
  font-family: "Exo 2", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.navbar {
  height: 60px;
  width: 100%;
  background-color: rgb(220, 220, 220);
  display: flex;
  flex-direction: row;
  align-items: center;
}

.btn {
  background-color: rgb(220, 220, 220);
  color: grey;
  border-radius: 0px;
  border-color: rgb(220, 220, 220);
  box-shadow: none;
  border: none;
  margin: 10px;
}

.btn:hover {
  color: black;
}

.btn:active {
  color: black;
}

.footer {
  height: 50px;
  width: 100%;
  background-color: rgb(220, 220, 220);
  justify-items: center;
  color: grey;
}
